
@{
    ViewBag.Title = "FormViewer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Process Flow</h2>
<hr/>
<div>
    <ul>
        <li>
            @Html.ActionLink("Form I-1", "DownloadFile", new { file = "Form I-1.docx" }, htmlAttributes: new { @class = "glyphicon glyphicon-arrow-down" })<br />
        </li>
        <li>
            @Html.ActionLink("Form I-3", "DownloadFile", new { file = "Form I-3.docx" }, htmlAttributes: new { @class = "glyphicon glyphicon-arrow-down" })<br />
        </li>
        <li>
            @Html.ActionLink("Form I-5", "DownloadFile", new { file = "Form I-5.docx" }, htmlAttributes: new { @class = "glyphicon glyphicon-arrow-down" })<br />
        </li>
        <li>
            @Html.ActionLink("Form I-6", "DownloadFile", new { file = "Form I-6.docx" }, htmlAttributes: new { @class = "glyphicon glyphicon-arrow-down" })<br />
        </li>
        <li> 
            @Html.ActionLink("Form I-7", "DownloadFile", new { file = "Form I-7.docx" }, htmlAttributes: new { @class = "glyphicon glyphicon-arrow-down" })<br />
        </li>
    </ul>
    
   
   
   
    <div>
        <img src="@Href("~/Imagers/Slide1.PNG" )" />
    </div>
    <div>
        <img src="@Href("~/Imagers/Slide2.PNG" )" />
    </div>
</div>

@Html.ActionLink("Back", "Index", "Home")

